// 기존 템플릿에서 제공하는 컴포넌트의 스타일을 수정하는 파일
@use '@coreui/coreui/scss/variables' as *;
@use '@coreui/coreui/scss/coreui'; // CoreUI의 Sass 파일 불러오기
@use '@coreui/coreui/scss/mixins/color-mode' as *; // dark모드에 따른 색상 변경을 위한 color-mode 믹스인 추가
@use './custom-variables' as *;

// 헤더 스타일

// dropdown-menu 색상 커스텀 (전체 색상 통일)
.dropdown-menu {
  --cui-dropdown-link-active-bg: #{$dark};
  --cui-dropdown-link-active-color: #{$light};
}

@include color-mode(dark) {
  .dropdown-menu {
    --cui-dropdown-link-active-bg: #{$light};
    --cui-dropdown-link-active-color: #{$dark};
  }
}

// (끝) 헤더 스타일


// 메인 컨텐츠 스타일

// 대시보드
.dashboard-layout {
  display: flex;
  height: 100vh;
  min-height: 580px; // 최소 높이 설정 (스크롤 허용 조건)
  // overflow: hidden; // 기본 스크롤 제거
  min-width: 720px; // 최소 너비 지정 (차트 최소 크기 고려 필요 - 필요 시 조정 가능)

  // 사이드 바를 제외한 전체를 감싸는 영역
  > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    // height: 100vh;
    flex-grow: 1;
    
    > .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      flex-grow: 1; // 남은 공간 모두 차지
      min-height: 0; // flex-grow 사용 시 필요
      overflow: auto; // 내용이 넘칠 경우 스크롤

      > .contents-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0 16px;
        flex-grow: 1;
        max-width: 100%;
        min-height: 0; // flex-grow 사용 시 필요
        overflow: auto; // 내용이 넘칠 경우 스크롤

        // 대시보드 - 그리드 형태 컨테이너 스타일
        > .container-grid {
          display: grid;
          grid-template-columns: 1.5fr 0.5fr;
          grid-template-rows: 0.5fr 1fr;
          gap: 1rem;
        
          flex-grow: 1;
          min-height: 0; // flex-grow 사용 시 필요
          
          /* 세 번째 카드가 첫 번째 열과 두 번째 열을 차지하도록 설정 */
          > .grid-item-large {
            grid-row: span 2; /* 두 열을 차지 */
          }
        }
        
      }
    }
  }
}

// (끝) 메인 컨텐츠 스타일


// 푸터 스타일

.footer-copyright {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 700;
  p {
    margin-bottom: 0;
  }
}
// (끝) 푸터 스타일